<link rel="stylesheet" type="text/css" href="css/footer.css">
<footer>
    <div class="links">
        <a class="telegram" href="https://t.me/IZUMRAZ"><img src="images/telegram.svg" alt="telegram"></a>
        <a class="github" href="https://github.com/Izumra"><img src="images/github.svg" alt="github"></a>
    </div>
    <div class="copiraiting">©Copyright by Mark Zagumennikov</div>
</footer>