<link rel="stylesheet" href="css/header.css">

<%-include('./regLogPopup')%> 
<header>
    <div class="logotip">EJS</div>
    <div class="ostHeader">
        <div class="nav-bar">
            <a class="linkHome" href="/">Главная</a>
            <a class="linkParticipants" href="/participants">Участники</a>
            <a class="linkRating" href="/Rating">Рейтинг</a>
        </div>
        <div class="profile-information">
            <% if(user){ %>
                <a href="/logout" class="fullName">Выйти</a>
                <img class="Avatar" src={user.avatar} alt="Avatar"/>
            <%} else{ %>
                <div class="fullName">Войти</div>
                <div class="Avatar"></div>
            <% } %>
        </div>
    </div>
</header>


<script src="js/homePageLogic.js"></script>
