<link rel="stylesheet" href="css/popups.css">

<div class="wrap-popup hide">
    <div class="logPopup hide">
        <form class="logPopupForm" action="post">
            <div class="titleLogForm">Войти</div>
            <input type="email" placeholder="Почта"/>
            <input type="password" placeholder="Пароль"/>
            <input class="sendAnket" type="submit" value="Войти">
            <div class="changeForm">Зарегестрироваться</div>
        </form>
    </div>
    <div class="regPopup hide">
        <form class="logPopupForm" action="post">
            <div class="titleLogForm">Зарегестрироваться</div>
            <input type="email" placeholder="Почта"/>
            <input type="password" placeholder="Пароль"/>
            <input class="sendAnket" type="submit" value="Зарегестрироваться">
            <div class="changerForm">Войти</div>
        </form>
    </div>
</div>

