header{
    width:800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.profile-information{
    display: flex;
    align-items: center;
}
.profile-information .fullName{
    margin-right: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.profile-information .Avatar{
    background-color: burlywood;
    width: 30px;
    height:30px;
    border-radius: 100% ;
}
.linkHome, .linkParticipants{
    padding-right: 16px;
}
.nav-bar{
    margin-right: 50px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
}
.ostHeader{
    display: flex;
    align-items: center;
}